<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" data-ng-app="app">
<head>
    <title>Ejemplo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="http://cdn.sockjs.org/sockjs-0.3.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vertx/3.5.0/vertx-eventbus.js"></script>
    <script src="js/app.js"></script>
    <script>
</script>
</head>
<body data-ng-controller="appController as app">
    <p>Hola Mundo !!</p>
    <p>{{app.texto}}</p>
    <button data-ng-click="app.llamadaGet()">GET Random</button>
    <p>Random = <span>{{app.random}}</span></p>
    <p>Recibido por Event Bus = <span>{{app.eventBusReceived}}</span></p>
</body>
</html>